* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: orange;
    font-size: 15px;
    font-family: $para;
    overflow: hidden !important;
}

p {
    line-height: 1.8;
}