@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&family=Teko:wght@600&display=swap');

// Colors
$black: rgb(60, 56, 56);
$yellow: rgb(221, 160, 19);
$white: rgb(246, 241, 241);

$para: 'Sen', sans-serif;
$title: 'Teko', sans-serif;